body {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: 'Noto Sans', sans-serif;
    overflow-y: scroll;
    
}

a {
    text-decoration: none; /* used to remove the default color off of nav button*/
    padding: 10px;
    color: #808080;
    font-weight: thin;
}

a:hover {
    color: #54123b; /* when the cursor hover over nav button the color appears */
    text-decoration: none;
}

nav {
float: left;
padding-left: 100px; /* spaces out nav button */
margin-top: 10px; /* used to create room at the top section of the nav buttons*/
font-size: 15px;
}

.name {
    text-align: right;
    padding-right: 25px;
}

header {
    padding-bottom: 10px; 
    margin-top: 10px;
    color: #54123b;
}

h1 {
    border: 3px #54123b solid;
    color: #54123b;
    width: 220px;
    margin-left: 200px;
}

.frame { /* frame for image in contact*/
    height: 387px;
    width: 516px;
    transform: rotate(90deg);
    margin: 0 auto;

}

img {
    height: 100%;
    width: 100%;   
}

.contact-info {
background-color: #000000;
color: #ffffff;
text-align: center;
padding-top: 39px;
width: 500px;
height: 200px;
position:relative;
bottom: 30px;
left: 430px;
}


/* footer section */

footer {
    padding-top: 100px;
    padding-bottom: 50px;
    background-color: #000000;
}


.socialmedia { 
    float: right;
    padding-right: 100px;
    padding-bottom: 20px;
    color: #54123b;
}
